<h1>Welcome to GymHero</h1>
<p>Below is a list of all the fitness instructors you may have access to:</p>

<% if current_user %>

	<%= render "loggedin" %>

<% else %>

	<%= render "not_loggedin" %>

<% end %>