<%= form_tag instructor_appointment_charges_path do %>
  <article>
    <label class="amount">
      <span>Amount: $50.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  		  data-image="<%= @instructor.avatar.url(:thumb) %>"
          data-key="<%= Figaro.env.stripe_publishable_key %>"
          data-description="1 workout session with <%= @instructor.first_name %>"
          data-name="GymHero"
          data-amount="5000"></script>
<% end %>